{% extends 'main/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/contacts_test.css' %}"/>
{% endblock %}


{% block title %}
Contacts
{% endblock %}

{% block language %}
	<a class ="nav__language" href="{% url 'contacts_test_ru' %}">RU</a>
{% endblock language %}

{% block content %}
<section class="section">
    <div class="section_header">
        <h2 class="section_title">Contacts</h2>
    </div>
    <div class="section_item">
        <div class="section_text">gmail:<br> <b>archip.petin@gmail.com</b> <br> <p>or you can leave a message below:</p></div>
    </div>

    <section class="contact_form">
        <div class="contact_wrapper">            
            <form action="{% url 'contacts_test' %}" method="post">
                {% csrf_token %}

                {% comment %}
                {{ form.as_p }}
                {% endcomment %}
                
                {{ form.non_field.errors }}
                <div class="form_group">
                    <div class="">
                        <label for="{{ form.author_name.id_for_label }}">Your name</label>
                    </div>
                    {{ form.author_name }}
                    <div class="invalid_feedback">
                        {{ form.author_name.errors }}
                    </div>
                </div>
                <div class="form_group">
                    <div class="">
                        <label for="{{ form.message_text.id_for_label }}">Your message</label>
                    </div>
                    {{ form.message_text }}
                    <div class="invalid_feedback">
                        {{ form.message_text.errors }}
                    </div>
                </div> 
                
                <input type="submit" value="SEND">
            </form>
        </div>

    </section>
    
</section>
{% endblock %}
