{% extends 'main/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}"/>
{% endblock %}


{% block title %}
Say_thanks
{% endblock %}

{% block language %}
	<a class ="nav__language" href="{% url 'say_thanks_ru' %}">RU</a>
{% endblock language %}

{% block content %}
<section class="section">
    <div class="section_header">
        <h2 class="section_title">Thank you for your message, <br> {{ author_name }} !</h2>
    </div>

    <div class="section_item">
        <div class="section_text"><p>You will be redirected back in 5 seconds.</p></div>
    </div>
    
    <script>
        // redirect after 7 second script
        window.setTimeout(function() {
            window.location.href = 'contacts_test';
        }, 7000);
    </script>

</section>
{% endblock %}
