body {
    background: url("../images/intros/cosmo1.png") no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 50px auto 0px;

    text-align: center;
}

.section_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #1f6ce0;
}


.section_item {
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
    color:#fff;
}

.section_text {
    font-size: 18px;
}