body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #333;
    line-height: 1.6;   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {margin: 0}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:  100%;
    height: 100vh;

    background: url('../images/intros/cosmo1.png') center 
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color:#fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 150px;
}


.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display:inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    
    transition: color 0.1s linear;
}

.nav__link::after {
    content:'';
    display: block;
    width: 100%;
    height: 3px;

    background-color: #1f6ce0;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover::after{
    opacity: 1;
}

/* Nav language */
.nav__language{
    display:inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    
    transition: color 0.1s linear;
}

.nav__language::after{
    content:'';
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__language:hover::after{
    opacity: 1;
}

/* Slider */
.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 230px;
}

.slider__item {
    width: 22%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;

    font-size: 18px;
    color:#fff;
    text-transform: uppercase;

    opacity: 0.7;
}

.slider__item.active {
    opacity: 1;

}

.slider__item.active::before {
    content: '';
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px ;
    left:0;
    z-index: 1;

    background-color: #002153;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}


.slider a{
    color: rgb(187, 186, 186);
    text-decoration: none;
}

.slider a:hover{
    color: #fff;
    text-decoration: none;
}

/* Section */

.section {
    padding: 80px 0;
}

.section--devices {
    background: url("../images/intros/background.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 10;
}

.section__header {
    width: 100%;
    max-width: 950 px;
    margin: 0px auto 0px;

    text-align: center;
}


.section__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 60px;

    background-color: #1f6ce0;
}

.section__text {
    font-size: 15px;
    color: #999;
}


/* Skills */

.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
    border-bottom: 35px solid #fff;
}


.services__title {
    margin-bottom: 10px;

    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
}

.section--devices .section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0px;

    background-color: #1f6ce0;
}